.header {
    width: 100%;
    padding: 20px 0;
    // border-bottom: 1px solid $grey02;
    background-color: white;
    box-shadow: $shadow01;
    position: fixed;
    z-index: 10;
    transition: .5s;
    transform: translateY(-71px);
}

.brand {
    margin-right: 20px;
    &:hover {
        color: $grey04;
    }
}

.container {
    max-width: 840px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigationItem {
    a {
        color: $grey04;
        &:hover {
            color: $grey08;
        }
    }
    .active {
        color: $grey08;
    }
    .inactive {
        color: $grey04;
    }
    &:not(:last-child) {
        margin-right: 40px;
    }
}

@media screen and (max-width: 600px) {
    .navigationItem {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}