@value colors: "../base/colors.scss";
@value greyDarker, greyDark, greyMedium, greyLight, greyLighter from colors;

.header {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid greyLighter;
}

.brand {
    text-decoration: none;
    color: greyDarker;
    transition: .3s;
    margin-right: 20px;
    &:hover {
        color: greyMedium;
    }
}

.container {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
}

.navigationItem {
    margin: 0;
    a {
        text-decoration: none;
        color: greyMedium;
        transition: .3s;
        &:hover {
            color: greyDarker;
        }
    }
    &:not(:last-child) {
        margin-right: 40px;
    }
}