.header {
    width: 100%;
    padding: 20px 0;
    // border-bottom: 1px solid $grey02;
    background-color: var(--white);
    box-shadow: $shadow01;
    position: fixed;
    z-index: 10;
    transition: .5s;
    transform: translateY(-71px);
}

.brand {
    margin-right: 20px;
    color: var(--grey04);
    // &:hover {
    //     color: var(--grey04);
    // }
    &:hover {
        color: var(--grey08);
    }
}

.active {
    color: var(--grey08);
}

.container {
    max-width: 840px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigationItem {
    a {
        color: var(--grey04);
    }
    &:not(:last-child) {
        margin-right: 40px;
    }
    &:hover {
        a {
            color: var(--grey08);
        }
    }
    .active {
        color: var(--grey08);
    }
}

.actions {
    display: flex;
    align-items: center;
}

.checkbox {
    display: none;
}

.toggle {
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: var(--grey03);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    margin-left: 40px;
    transition: .5s;
    &:after {
        content: '';
        background: var(--white);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 4px;
        transition: cubic-bezier(0.7, -0.5, 0.3, 1.5) .5s;
    }
    &:hover {
        transition: .5s;
        background: var(--grey06);
    }
}

.checkbox:checked + .toggle:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}

@media screen and (max-width: 600px) {
    .navigationItem {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .toggle {
        margin-left: 20px;
    }
}