.container {
    margin: 0 auto;
    display: block;
    max-width: 840px;
    padding: 0 20px;
    opacity: 0;
    transition: .5s;
    transform: translateX(-40px);
}

.transition {
    transition: .5s;
    max-width: 800px;
    padding: 111px 0 40px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateX(-40px);
    position: absolute;
}