.author {
    color: var(--grey03);
    font-size: 14px;
    margin-bottom: 40px;
    a {
        color: var(--grey03);
        font-size: 14px;
        &:hover {
            color: var(--grey05);
        }
    }
}

.content {
    p:not(:last-child) {
        margin-bottom: 40px;
    }
}

.back {
    display: inline-block;
    margin-top: 40px;
    color: var(--grey03);
    &:hover {
        color: var(--grey05);
    }
}