.singleThought {
    margin-top: 40px;
    a {
        display: inline-block;
        padding: 10px 20px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        box-shadow: $shadow01;
        border: 1px solid $grey02;
        .head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            p {
                color: $grey08;
                font-weight: 700;
            }
            span {
                color: $grey03;
            }
        }
        .body {
            span {
                font-size: 12px;
                color: $grey04;
                padding: 5px 10px;
                border: 1px solid $grey02;
                border-radius: 5px;
                &:not(:first-child) {
                    margin-left: 10px;
                }
                &:hover {
                    border: 1px solid $grey08;
                    background-color: $grey08;
                    color: $grey01;
                }
            }
        }
    }
    .tag {
        z-index: 10;
    }
}

.back {
    display: inline-block;
    margin-top: 40px;
    color: $grey03;
    &:hover {
        color: $grey05;
    }
}

@media screen and (max-width: 600px) {
    .singleThought {
        a {
            .head {
                justify-content: initial;
                flex-direction: column;
                margin-bottom: 20px;
                p {
                    line-height: 24px;
                }
                span {
                    font-size: 12px;
                    line-height: 24px;
                }
            }
        }
    }
}