.singleThought {
    margin-top: 40px;
    a {
        display: inline-block;
        padding: 20px 25px;
        width: 100%;
        background-color: var(--white);
        border-radius: 5px;
        box-shadow: $shadow01;
        // border: 1px solid $grey02;
        transform: translateY(0);
        .head {
            display: flex;
            justify-content: space-between;
            p {
                color: var(--grey08);
                font-weight: 700;
            }
            span {
                color: var(--grey03);
            }
        }
        .body {
            margin-top: 10px;
            button {
                background: transparent;
                font-size: 12px;
                color: var(--grey04);
                padding: 5px 10px;
                border: 1px solid var(--grey02);
                border-radius: 5px;
                transition: .1s;
                outline: none;
                cursor: pointer;
                &:not(:first-child) {
                    margin-left: 10px;
                }
                &:hover {
                    border: 1px solid var(--grey08);
                    background-color: var(--grey08);
                    color: var(--grey01);
                }
            }
        }
        &:hover {
            transform: translateY(-2px);
            transition: .1s;
            box-shadow: $shadow02;
        }
        &:active {
            transform: translateY(0);
            transition: .1s;
            box-shadow: $shadow01;
        }
    }
    .tag {
        z-index: 10;
        position: relative;
        &::-moz-focus-inner {
            border: 0;
        }
    }
}

.back {
    display: inline-block;
    margin-top: 40px;
    color: var(--grey03);
    &:hover {
        color: var(--grey05);
    }
}

.category {
    color: var(--grey03);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    span {
        display: block;
        font-size: 20px;
        line-height: 36px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
}

@media screen and (max-width: 600px) {
    .singleThought {
        a {
            .head {
                justify-content: initial;
                flex-direction: column;
                p {
                    line-height: 24px;
                }
                span {
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            .body {
                margin-top: 20px;
            }
        }
    }
}