.thoughts {
    margin-top: 20px;
    a {
        display: inline-block;
        padding-left: 10px;
        border-left: 1px solid $grey08;
        min-width: 480px;
        h5 {
            color: $grey08;
        }
        span {
            color: $grey03;
            font-size: 0.8rem;
        }
    }
}