.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.heading {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    h5 {
        font-weight: 700;
    }
    a {
        &:hover {
            color: var(--grey04);
        }
    }
}

.card {
    display: inline-block;
    padding: 20px 25px 20px 25px;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: $shadow01;
    // border: 1px solid $grey02;
    transform: translateY(0);
    max-width: 380px;
    width: 100%;
    text-align: right;
    position: relative;
    overflow: hidden;
    transition: .1s;
    &:before {
        content: '';
        mask-size: cover;
        width: 125px;
        height: 125px;
        display: block;
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%) translateX(0);
        background-color: var(--grey01);
        transition: .5s;
        z-index: -1;
    }
    &:first-child {
        &:before {
            mask-image: url('../../images/github.svg');
        }
    }
    &:last-child {
        &:before {
            mask-image: url('../../images/mail.svg');
            height: 150px;
            width: 150px;
            top: 50%;
            left: -10px;
            background-color: none;
        }
    }
    h5 {
        color: var(--grey03);
    }
    p {
        color: var(--grey08);
        font-weight: 400;
    }
    span {
        color: var(--grey03);
    }
    &:hover {
        transform: translateY(-2px);
        transition: .1s;
        box-shadow: $shadow02;
        &:before {
            background-color: var(--grey03);
            transform: translateY(-50%) translateX(10px);
        }
    }
    &:active {
        transform: translateY(0);
        transition: .1s;
        box-shadow: $shadow01;
    }
}

@media screen and (max-width: 840px) {
    .columns {
        flex-direction: column;
        justify-content: initial;
    }
    .card {
        max-width: 100%;
        &:first-child {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 420px) {
    .card {
        &:before {
            background-color: var(--grey01);
        }
        &:hover {
            &:before {
                background-color: var(--grey01);
            }
        }
    }
}